body{
    font-family: 'Roboto', 'Raleway';
    background: #FFFFFF;
    color: #212121;
    font-size: 16px;
    line-height:1.19;
    font-weight: 400;
}
.link {
    text-decoration: none;
    color: #212121;
}

.links{
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}
.links .link:hover  {
    color: #2196F3;
}
.links .link:focus  {
    color: #2196F3;
}
li {
    list-style-type: none; /* Убираємо маркери */
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
.header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}



.web-studio-top{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

}


.web-top{
    color: #2196F3;
}

.menu-nav{
    position: absolute;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;
}


.studio{
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.portfolio{
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.tel-top{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.mailto-top{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
    
}